body {
}

.body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: "微软雅黑","华文细黑",Arial, Helvetica, sans-serif;
    font-size: 14px;
    overflow:hidden;
}
input[type=radio],input[type=checkbox] {
    display:none;
}
label.radio {
    background: url("../img/radioBg1.jpg") no-repeat 0px 1px;
    width:18px;
    height: 18px;
    display: inline-block;
}
    label.radio:hover {
        background: url("../img/radioBg1.jpg") no-repeat 0px -23px;
    }
label.check {
    background: url("../img/radioBg1.jpg") no-repeat 0px -48px;
    width: 18px;
    height: 18px;
    display: inline-block;
}
#form1 {
    overflow:hidden;
}
.bgDiv {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: RGBA(51,51,51,0.5);
    display: none;
}
.left {
    width: 220px;
    position: absolute;
    top: 60px;
    bottom: 0;
    background: #1f64a5;
    -moz-user-select: none;
    -ms-user-select: none;
}
.logo {
    height: 60px;
    background: #044988;
    width: 220px;
}
    .logo p {
        font-family: "微软雅黑","华文细黑",Arial, Helvetica, sans-serif;
        display: inline-block;
        float: right;
        color: #ffffff;
        font-size: 16px;
        margin-right: 10px;
        line-height:60px;
    }

.listBtn {
  width:50px;height:50px;
  text-align:center;
  line-height:50px;
  margin-top:30px;
}
.listBtn i {
    cursor:pointer;
}
    .left ul {
    width: 220px;
}

    .left ul div {
        position: relative;
        padding-left: 20px;
        height: 60px;
        line-height: 60px;
        color: #ffffff;
        font-size: 16px;
        cursor: pointer;
    }

        .left ul div.select {
            color: #000000;
            background: #ffffff;
            border-left: 4px solid #07AA25;
            padding-left: 16px;
        }

.left > ul div span {
    margin-left: 30px;
}

.left >ul>li>ul {
    background: #044988;
}
    .left > ul > li > ul > li  i {
        padding-left:15px;
    }


.right {
    position: absolute;
    left: 220px;
    right: 0px;
    bottom: 0px;
    top: 60px;
    background: #ffffff;
    overflow:hidden;
}

.top {
    height: 60px;
    border-bottom: 1px solid #e2e2e2;
}
    .top .topBg {
        height: 60px;
        position: absolute;
        left: 220px;
        right: 0;
        opacity: 0.5;
    }
    .top .topBg img{
    width:100%;
    height:60px;
    }
        .user {
            background: #f8f8f8;
            font-size: 14px;
            width: 145px;
            cursor: pointer;
            position: absolute;
            right: 20px;
            top: 0px;
        }
    .user .userDiv {
        height: 60px;
        background: url("../icon/user1.png") no-repeat 10px 8px;
        border-left: 1px solid #DDDDDD;
        border-right: 1px solid #DDDDDD;
        border-bottom: 1px solid #DDDDDD;
    }
        .user .userDiv p {
            display: inline-block;
            float: right;
            height: 100%;
            text-align: right;
            padding-right: 30px;
            line-height: 60px;
            width: 80px;
        }

    .user .userItem {
        display: none;
        background: #f8f8f8;
        line-height: 50px;
        padding-left: 25px;
        height: 50px;
        width: 144px;
        border-top: 1px solid #DDDDDD;
    }

    .user:hover .userItem{
        display: block;
    }
        .user:hover .userItem:hover {
            color: #f46a09;
        }

.right .top .name h2 {
    font-weight: 500;
}

.right .content {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow:hidden;
}

.right .content .tab-tit {
    height: 46px;
    padding-top:11px;
    border-bottom: 1px solid #e2e2e2;
    cursor: pointer;
}
.tab-body>iframe{
    display:none;
    overflow:hidden;    
}
.tab-body > iframe body {
    overflow:hidden;
}
.content .tab-tit ul li {
    text-align: left;
    padding-left: 10px;
    line-height: 35px;
    font-size: 14px;
    height: 35px;
    float: left;
    width: 132px;
    position: relative;
    margin: 0 1px;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    background: #efefef;
    -moz-user-select: none; /*火狐下禁止双击选中文字*/
    -ms-user-select: none;
}
    .content .tab-tit ul li i {
        margin-right:10px;
    }
    .closeIcon {
    display:block;
    position:absolute;
    top:8px;
    right:10px;
    width:20px;
    height:20px;
    background:url("../icon/close01.png") 4px 4px no-repeat;
}
        .closeIcon:hover {
            top: 7px;
            right: 9px;
            width: 22px;
            height: 22px;
            border-radius: 14px;
            background: url("../icon/close02.png") 5px 5px #cdcdcd no-repeat;
        }
.content .tab-tit ul .select {
    /*border-bottom: 2px solid #009688;*/
    height: 36px;
    color: #009688;
    border-right: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
    border-bottom: none;
    background: #ffffff;
    z-index: 1000;
}

.right .content .tit {
    margin-left: -10px;
    padding-left: 20px;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    line-height: 50px;
    border-left: 2px solid #E2E2E2;
}

.right .content .title2 {
    border-left: 2px solid #2373BB;
    height: 30px;
    line-height: 30px;
    margin: 20px;
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
}
.dot {
    position: absolute;
    right: 20px;
    top: 22px;
}

.dot-right {
    transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    font-size: 0;
    line-height: 0;
    border-width: 7px;
    border-color: #ffffff;
    border-right-width: 0;
    border-style: dashed;
    border-left-style: solid;
    border-top-color: transparent;
    border-bottom-color: transparent;
  
}
.dot-up {
    transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    font-size: 0;
    line-height: 0;
    border-width: 7px;
    border-color: #ffffff;
    border-top-width: 0;
    border-style: dashed;
    border-top-style: solid;
    border-left-color: transparent;
    border-right-color: transparent;
    position: absolute;
    right: 20px;
    top: 22px;
}

.dot-down {
    transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    font-size: 0;
    line-height: 0;
    border-width: 7px;
    border-color: #ffffff;
    border-bottom-width: 0;
    border-style: dashed;
    border-top-style: solid;
    border-left-color: transparent;
    border-right-color: transparent;
    position: absolute;
    right: 20px;
    top: 22px;
}


/*路口开关效果*/
#div1 {
    width: 40px;
    height: 20px;
    border-radius: 50px;
    position: relative;
    top:-40px;
    right:-150px;
}
#div2 {
    width: 20px;
    height: 20px;
    border-radius: 24px;
    position: absolute;
    background: white;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
}
.open1 {
    background: rgba(0,184,0,0.8);

}
.open2 {
    top: 0px;
    right: 2px;
}
.close1 {
    background: rgba(255,255,255,0.4);
    border:2px solid rgba(0,0,0,0.15);
    border-left: transparent;
}
 .close2 {
    left: 0px;
    top: -2px;
    border:1px solid rgba(0,0,0,0.1);
}
/*路口开关效果完成*/
/*开关树效果*/
.roadlist {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 220px;
    border-right: 1px solid #e2e2e2;
    width: 300px;
    background: #F1F1F1;
    overflow-y: scroll;
}
.roadListTitle {
    height: 60px;
    border-bottom: 1px solid #e2e2e2;
    padding: 10px;
    line-height: 60px;
}
.roadListTitle span {
    font-size:16px;
    padding-right:10px;
}

    .roadListTitle .input {
        border: 1px solid #e2e2e2;
        border-radius:6px;
        height: 38px;
        line-height:38px;
        width: 260px;
        font-size:16px;
        padding-left:10px;
        background:#ffffff;
        /*box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.2);*/
    }
        .roadListTitle .input input {
            height:20px;
            width:190px;
        }
        .roadListTitle .input i {
          position:absolute;
       
          right:20px;
          top:16px;
          font-size:24px;
        
            color: #0055C4;
        } .roadListTitle ul li {
            font-size: 16px;
        }
/*开关树效果完成*/

.tab-body {
    position:absolute;
    top:46px;bottom:0px;left:0;right:0px;
    padding:10px;
    overflow:hidden;
}

#alertFuncTree, #alertRoadTree {
    width: 200px;
    border: 1px solid red;
    position: absolute;
    z-index: 1001;
    background: #f1f1f1;
    left: 0;
    right: 0;
    height:500px;
    display: none;
    overflow:auto;
}
#alertRoadTree {
    width:300px;
}

/*弹出框*/

.shade,.shade1 {
    background-color: #000;
    opacity: 0.3;
    filter: alpha(opacity=30);
    position:absolute;
    z-index:100000;
    display:none;
    border:none;
}
#shade1,#shade5 {
    height: 116px;
    width:100%;
    top: 0;
}
#shade2,#shade6 {
    width:230px;
    left:0px;
    top:116px;
    bottom:0px;
}
#shade3,#shade7 {
    height:10px;
    right:0px;
    left:230px;
    bottom:0px;
}
#shade4,#shade8 {
    right:0px;
    width:10px; 
    top:116px;
    bottom:10px;
}
#alterPsw {
    width: 400px;
    height: 400px;
    position:absolute;
    display:none;
    border: solid 1px #ccc;
    margin: 0px auto;
    overflow: hidden;
    font-size: 14px;
    font-family: "微软雅黑","华文细黑",Arial, Helvetica, sans-serif;
}
